
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');



* {
  box-sizing: border-box;
  font-family: 'Charm', cursive;
  font-size: 1.4vw;
  color: rgb(81, 34, 5);
}

body {
  margin: 0px;
  background-color: black;
  background-image: url(./ressources/screen_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

h1 {
  margin: 0px;
  font-size: 2vw;
}
h4 {
  font-weight: 100;
}

main {
  width: 100vw;
  height: calc(100vw * 0.5625);
  position: relative;
}

#filters button {
  font-size: 1.2vw;
  color: rgb(131, 34, 7);
  background-color: transparent;
  border-radius: 15px;
  border: rgb(131, 34, 7) 1px solid;
  margin: 3px;
}

#screen {
  position: relative;
  width: 68vw;
  height: 43vw;
  left: 18vw;
  top: 8vw;
  padding: 20px;
  display: grid;
  grid-template-columns: 24% 76%;
  overflow: hidden;
}

#menu {
    padding-top: 120%;
    padding-right: 12%;
}

#search_field {
  width: 100%;
  margin-bottom: 10px;
  height: 2.5vw;
  border-radius: 15px;
  border: rgb(131, 34, 7) 1px solid;
  
}

#filters {

}



#right_side {
  overflow: hidden;
}

#list_container {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

#list_container::-webkit-scrollbar {
  display: none;
}

#list {
  width: 100%;
  border-spacing: 0px;
  padding-left: 2%;
}

#header {
  padding-left: 2%;
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 37% 13% 19% 11% 20%;
  font-weight: 700;
}

tr {
  display: grid;
  grid-template-columns: 15% 22% 13% 19% 11% 20%;
}

tr img {
  width: 1.5vw;
  margin-right: 1vw;
}

.edit_dialogue {
  position: absolute;
  background-color: lightsalmon;
  width: 25%;
  max-height: 80%;
  max-width: 300px;
  padding: 20px;
  left: 59%;
  top: 10%;
  z-index: 1;
}

.popup {
  position: absolute;
  background-color: cornflowerblue;
  width: 30%;
  max-height: 80%;
  max-width: 300px;
  padding: 20px;
  left: 35%;
  top: 30%;
  z-index: 2;
}


#glass_overlay {
  position: absolute;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

[data-action] {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

.modal_box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
}

.modal_content {
  position: relative;
  width: 40%;
  min-width: 200px;
  max-height: 95%;
  max-width: 400px;
  padding: 20px;
  background-color: cyan;
}

.modal_content .house_shield {
  position: absolute;
  background-color: lightcoral;
  width: 40%;
  height: 160px; /* This is temporary, until the image is placed here! */
  top: -10px;
  right: -10px;
}

.modal_buttons {
  position: absolute;
  right: -5px;
  bottom: -5px;
}



.hide {
  display: none;
}
